body {
  margin: 0;
  padding: 0;
  background-color: #d6e2f0;
}

.container {
  max-width: 375px;
  margin: 15% auto;
  padding: 20px;
  border-radius: 20px;
  background-color: #ffffff;
}

.card {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title {
  color: #1f3251;
}

.text {
  color: #7b879d;
  text-align: center;
  max-width: 70%;
}
img {
  max-width: 100%;
  border-radius: 20px;
}
